@model IEnumerable<WebApplicationEU.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expensis List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Create new Expense</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Changes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var price in Model)
            {
            <tr>
                <td width="35%">@price.ExpenseName</td>
                <td width="35%">@price.Amount</td>
                <td width="30%">
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Expense" asp-action="Update" asp-route-Id ="@price.Id" class="btn btn-primary mx-1">Update</a>
                        <a asp-controller="Expense" asp-action="Delete" asp-route-Id ="@price.Id" class="btn btn-danger mx-1">DeletePost</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <p>No Expenses created yet</p>

</div>
